.contacto{
    margin: 20px;
    text-align: center;
}

.color-negro-oscuro{
    color: #000;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}

.enlacer-contacto{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 700px) {
    .enlacer-contacto{
        justify-content: space-around;
        padding: 10px 35vw;
    }
}