body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-image: url('https://res.cloudinary.com/academia-geek/image/upload/v1635985890/portafolio/mobil_ttvani.jpg');
}

@media screen and (min-width: 700px) {
    body{
        background-image: url('https://res.cloudinary.com/academia-geek/image/upload/v1635985790/portafolio/784360_bause6.jpg');
    }
}

#root{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.titulos-principales{
    font-size: 30px;
    font-weight: 900;
    padding: 0 10px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    text-shadow: -2px -2px 8px rgb(0, 0, 0), 4px 4px 4px rgb(0, 0, 0),-2px -2px 8px rgb(0, 0, 0), 4px 4px 4px rgb(0, 0, 0),-2px -2px 8px rgb(0, 0, 0), 4px 4px 4px rgb(0, 0, 0);
}

.cards-con-sombras{
    border-radius: 4px;
    box-shadow: 1px 1px 8px #000, -1px -1px 8px #000;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .grid-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ANIMACIONES */
/* Z-index */
.z-index{
    position: relative;
    z-index: 2000;
}

@keyframes mover{
    0%{
        transform: translate(200%);
    }
}